li{
     display:inline-block;
     padding-right: 27px;
     padding-left: 27px;
     padding-top: 14px;
     padding-bottom: 10px;
}
li a{
     text-decoration: none;
     color: #fff;
     font-family:'Courier New', Courier, monospace;
     font-weight: bolder;
     font-size: 22px;
}

nav{
     position: absolute;
     left:23.3%;

}
div{
     width: 0%;
     background-color:rgb(35, 0, 55);
     border-radius: 10px;
     transition: width 1s,background 1s;
}
ul{
     background-color: rgb(34, 0, 53);
     width:700px;
     height:50px;
     border-radius:25px;
     transition: background 4s,border-radius 1s,color;
}
ul:hover{
     background:rgba(142, 3, 255);
     border-radius: 0px;
}
/*li a:hover{
     background-color: white;
     color: black;
     border-radius: 20px;
    
}*/
div:hover{
     width:100%;
     background:rgba(142, 3, 255);
     color:white;
     border-radius: 8px;
}
.active{
     background-color: white;
     color: black;
     border-radius: 3px;
}
